body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
p {
  color: #333;
}

.btn-primary {
  background-color: #00a8e8;
  border-color: #00a8e8;
  border-radius: 50px; /* Estilo de botón redondeado */
}

.stats {
  background: url("images/Fondo.png") no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 50px 0;
}

.stats h2 {
  font-size: 3rem;
}

.section-3 {
  background: url("images/Fondo.png") no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  color: #fff;
}

.section-4 {
  background: url("images/Fondo.png") no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  color: #fff;
}

.image-placeholder {
  border: 2px dashed #0099cc;
  padding: 100px 0;
  margin: 20px 0;
  font-size: 1.5rem;
  color: #0099cc;
  background-color: rgba(255, 255, 255, 0.5);
}

.img-fluid.responsive-image {
  max-width: 100%;
  height: auto;
}

.img-fluid.iphone-image {
  width: 300px; /* Ancho en píxeles */
  margin: 0 auto; /* Centrado */
}

@media (max-width: 768px) {
  .image-placeholder {
    padding: 50px 0;
  }
}

.text-left {
  text-align: left;
}

.align-items-center {
  align-items: center;
}
